<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barcode assignment 1</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>
    <nav>
        <ul>
       <li> <a href="./views.html">Home</a></li>
       <li><a href="../index.html">Assignment 2</a></li>
    </ul>
    </nav>
<div class="code">
    <div class="item">
        <a href="../index.html"><img src="../Assets/barcode.png" alt=""></a>
    </div>
   <P> <b>Improve your front-end skills by building projects</b><br><br><br>
    Click on the QR code to visit the second assignment</P>
</div>
    
</body>
</html>